.footer {
    text-align: center;
    padding: 20px;
    color: #333;
    font-size: 15px;
    margin-top: 20px;
  }
  
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    margin: 5px;
  }
  
  .social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
  }
  
  .social a {
    width: 20px;
    height: 20px;
  }
  

  @media (max-width: 600px) {
    .links {
      display: grid;
      gap: 10px;
    }
  
    .links a:nth-child(4),
    .links a:nth-child(5) {
      grid-column: span 2;
      justify-self: center;
    }
    .footer{
      font-size: 11px;
    }
    .social a {
      width: 14px;
      height: 14px;
    }
  }
  